@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #ffffff;
}
.tasks::-webkit-scrollbar {
  width: 8px;             /* width of the entire scrollbar */
}

.tasks::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

.tasks::-webkit-scrollbar-thumb {
  background-color: rgb(182, 182, 212);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */

}